/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require 'masonry/transitions'
 *= require commontator/application
 * require_tree .
 * require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: #DADADA;
}

h1, h2 {
  text-align: center;
  color: #0b386b;
  font-weight: bold;
}

.navbar-brand {
  a {
    font-weight: bold;
    font-size: 24px;
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
}

#pic {
  width: 100%;
  .box {
    width: 350px;
    margin: 7px;
    box-shadow: #666666;
    border-radius: 2px;
    text-align: center;
    img {
      max-width: 100%;
      height: auto;
    }
    a {
      font-weight: bold;
      font-size: 14px;
      text-decoration: none;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

#edit {
  .current_image {
    img {
      display: block;
      margin: 20px 0;
    }
  }
}

#show {
  .panel-heading {
    padding: 0;
  }
  .pic_image {
    img {
      max-width: 100%;
      width: 100%;
    }
    .panel-body {
      padding: 35px;
      h1 {
        color: #B00100;
        font-weight: bold;
      }
      .description {
        color: #2E2F30;
        font-weight: bold;
        font-size: 14px;
        text-align: center;
      }
      .panel-footer {
        padding: 50px 50px;
        p {

        }
        .user {
          text-align: left;
          padding-top: 2px;
          font-weight: bold;
        }
      }
    }
  }
}

textarea {
  min-height: 250px;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#link {
  a {
    text-decoration: none;
  }
}

.panel-body {
  padding-bottom: unset;
  padding-top: 6px;
  margin-bottom: unset;
  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
}

.panel-footer {
  padding-bottom: 12px;
}

.panel-default {

}
.le {
  width: 300px;
  display:inline-block;
}

.display-in-same-line {
  display:inline-block;
}

.le1 {
  width: 385px;
  display:inline-block;
}

.panel-body{
  img{
    max-width: 600px;
    max-height: 600px;
  }
}

.select-image{
  width: 100%;
}

input{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}